.align-center {
  text-align: center;
}

.delete-button {
  float: right;
  cursor: pointer;
}

.action-icon {
  cursor: pointer;
  color: lightgrey;
}

.action-icon:hover {
  color: grey;
}

.action-icon:active {
  color: dimgray;
}
